[submodule "stylegan2-ada-pytorch"]
	path = stylegan2-ada-pytorch
	url = https://github.com/NVlabs/stylegan2-ada-pytorch.git
[submodule "hyperstyle"]
	path = hyperstyle
	url = https://github.com/yuval-alaluf/hyperstyle.git
[submodule "encoder4editing"]
	path = encoder4editing
	url = https://github.com/omertov/encoder4editing.git
[submodule "ganspace"]
	path = ganspace
	url = https://github.com/harskish/ganspace.git
